*{
    margin: 0;
    padding: 0;
}
footer {
    background-color: #131418;  
    text-align: center;
    position: fixed;    
    bottom: 0;    
    width: 100%;  
}
h2{
    margin-top: 15px;    
}
.project{
    font-style: italic;
}
.credits, .design, .cci{
    font-style: italic;
    font-size: small;
}
.secondaryHr{
    width: 50%;    
}
.button{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;    
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.button .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #FE9600;;
    color: #fff;
    border: none;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 10px;
    margin-bottom: 15px;
}
 .button .btn:hover{
    background-color: #fff;
    color: #6f4ef2;
  box-shadow: 0 1rem 3rem rgb(35 38 45 / 15%) !important;
    transform: translate3d(0, -5px, 0);
}
a:hover {
    color: #6f4ef2;
    transform: translate3d(0, -5px, 0);

}


